#######################################################################
#     Diese .htaccess wurde vom STRATO-Webservermanager erstellt      #
#######################################################################


AuthUserFile /mnt/rid/82/92/51438292/htdocs/.htpasswd
AuthGroupFile /dev/null
AuthName Intern
AuthType Basic

require valid-user



 
















 








